<div class="container">

    <div class="row p-2 ">
        <div class="col bg-light">
            <h5>Recent Search</h5>
            <ul>
                <li>
                    Java,noida<span class="badge badge-secondary" style="float:right">3</span>
                </li>
                <li>
                    Android,DelhiNcr<span class="badge badge-secondary" style="float:right">3</span>
                </li>
                <li>
                    Spring,hibernate,2+ years<span class="badge badge-secondary" style="float:right">3</span>
                </li>
            </ul>
        </div>
    </div>

</div>



<div class="row border mt-10 advmargin">
    <h4 class="p-2">Include 30 jobs in Featured Company</h4>
    <div class="col-6 p-1 " *ngFor="let img of imgArray">
        <img src="{{img}}" alt="">
    </div>

</div>