<div class="container">
    <app-top-bar>
    </app-top-bar>
</div>
<div class=" bkimage bg-light">
    <div class="container">
        <div classs=container>
            <div class="row">
                <div class="col-9 mt-4">
                    <div class="row">
                        <div class="col-3 bg-white">
                            <app-refine (sendData)="newChange($event)" (sendLoc)="nextChange($event)" (sendDays)="dropDownChange($event)">

                            </app-refine>
                        </div>
                        <div class="col-9">
                            <div *ngFor="let job of allJobs">
                                <app-job-details [allJobs]=job></app-job-details>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 mt-5">
                    <app-right-panel></app-right-panel>
                </div>
            </div>
        </div>
    </div>
</div>